/* In your Navbar component's CSS */
.navbar {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(12px);
    background: var(--glass-bg); 
    border-radius: 16px;
    border: 1px solid var(--glass-border); 
    padding: var(--padding-md);
    color: var(--color-primary); 
    z-index: 2;
  }

.nav-links {
    display: flex;
    gap: 1.5rem;
    padding-left: var(--padding-xxl);
    align-items: center;
    
}

.nav-links a {
    color: var(--color-light);
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color:var(--color-accent);
}

.logo {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.logo-container {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    width: var(--width-md);
}

.logo-img {
    width: var(--width-md);
    height: var(height-md);
    border-radius: 6px;
}

